/*SCSS document*/
/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* End Reset */
@font-face {
  font-family: 'Limelight';
  src: url("../fonts/Limelight.woff2") format("woff2"), url("../fonts/Limelight.woff") format("woff");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'Avenir Next Demi';
  src: url("../fonts/AvenirNext-DemiBold.woff2") format("woff2"), url("../fonts/AvenirNext-DemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'Avenir Next';
  src: url("../fonts/AvenirNext-Medium.woff2") format("woff2"), url("../fonts/AvenirNext-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Avenir Next';
  src: url("../fonts/AvenirNext-Regular.woff2") format("woff2"), url("../fonts/AvenirNext-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Avenir Next';
  src: url("../fonts/AvenirNext-Bold.woff2") format("woff2"), url("../fonts/AvenirNext-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }
.hidden {
  display: none; }

body {
  background-color: #000000;
  color: #ffffff;
  font-family: "Avenir Next", Helvetica, Arial, sans-serif;
  font-weight: 500; }

#container {
  width: 100%;
  min-width: 375px;
  max-width: 1440px; }

#lbmovie {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  grid-template-columns: 90% 10%;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  overflow: scroll;
  padding: 1rem 0; }
  #lbmovie #lbmovie-close {
    right: 0;
    font-size: 3rem;
    cursor: pointer; }
  #lbmovie #lbmovie-content {
    width: 75%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 2rem; }
    #lbmovie #lbmovie-content .movie-wrapper {
      display: grid;
      grid-template-columns: 10rem 1fr;
      grid-auto-columns: 1fr;
      grid-column-gap: 2rem;
      padding: 0.5rem;
      border: 3px solid #ffffff; }
      #lbmovie #lbmovie-content .movie-wrapper .lb-cover {
        width: 100%;
        max-width: 10rem;
        justify-self: flex-end; }
      #lbmovie #lbmovie-content .movie-wrapper .movie-detail .movie-title {
        display: flex; }
        #lbmovie #lbmovie-content .movie-wrapper .movie-detail .movie-title .lb-title,
        #lbmovie #lbmovie-content .movie-wrapper .movie-detail .movie-title .lb-year {
          display: inline-block;
          font-size: 1.4rem;
          font-weight: bold; }
        #lbmovie #lbmovie-content .movie-wrapper .movie-detail .movie-title .lb-year {
          margin-left: 0.5rem; }
          #lbmovie #lbmovie-content .movie-wrapper .movie-detail .movie-title .lb-year:before {
            content: "("; }
          #lbmovie #lbmovie-content .movie-wrapper .movie-detail .movie-title .lb-year:after {
            content: ")"; }
      #lbmovie #lbmovie-content .movie-wrapper .movie-detail .lb-director {
        margin-top: 2rem; }
        #lbmovie #lbmovie-content .movie-wrapper .movie-detail .lb-director:before {
          content: "Director: "; }
      #lbmovie #lbmovie-content .movie-wrapper .movie-detail .lb-cast:before {
        content: "Cast: "; }
      #lbmovie #lbmovie-content .movie-wrapper .movie-detail .lb-company:before {
        content: "Production: "; }
      #lbmovie #lbmovie-content .movie-wrapper .movie-detail .lb-storyline {
        margin-top: 3rem; }
      #lbmovie #lbmovie-content .movie-wrapper .movie-detail .lb-rate {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 2rem;
        align-items: flex-start; }
        #lbmovie #lbmovie-content .movie-wrapper .movie-detail .lb-rate .lb-rating .lb-rating-us,
        #lbmovie #lbmovie-content .movie-wrapper .movie-detail .lb-rate .lb-rating .lb-rating-ca {
          height: 2.5rem;
          margin-right: 0.4rem; }
        #lbmovie #lbmovie-content .movie-wrapper .movie-detail .lb-rate .lb-review-bg {
          justify-self: center;
          position: relative;
          width: 80%;
          height: 40px;
          background-color: #ffffff;
          -webkit-mask-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/5_stars.svg/2000px-5_stars.svg.png);
          mask-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/a/ae/5_stars.svg/2000px-5_stars.svg.png);
          -webkit-mask-size: 100%;
          mask-size: 100%;
          -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat; }
          #lbmovie #lbmovie-content .movie-wrapper .movie-detail .lb-rate .lb-review-bg .lb-review-color {
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            background-color: #e5bf0c; }
        #lbmovie #lbmovie-content .movie-wrapper .movie-detail .lb-rate .lb-social {
          justify-content: flex-end;
          margin-top: 0; }
      #lbmovie #lbmovie-content .movie-wrapper .movie-detail .lb-social {
        display: flex;
        justify-content: flex-start;
        margin-top: 2rem; }
        #lbmovie #lbmovie-content .movie-wrapper .movie-detail .lb-social ul {
          display: table;
          border-spacing: 0.5rem 0; }
          #lbmovie #lbmovie-content .movie-wrapper .movie-detail .lb-social ul li {
            display: table-cell;
            margin: 0 0.5rem;
            border: 2px solid #ffffff;
            border-radius: 100%;
            width: 1.6rem;
            height: 1.6rem;
            text-align: center;
            vertical-align: middle; }
            #lbmovie #lbmovie-content .movie-wrapper .movie-detail .lb-social ul li a i {
              font-size: 1rem;
              color: #ffffff; }
    #lbmovie #lbmovie-content .lb-trailer {
      width: 100%; }

#lbmovie.selected {
  display: grid; }

#movies {
  padding: 4rem 0;
  margin: 1rem 0; }
  #movies .section-title {
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem; }
  #movies .movies-row ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    margin: 0 1rem; }
    #movies .movies-row ul .movie-cover {
      width: 100%;
      cursor: pointer; }
    #movies .movies-row ul .movie-cover.selected {
      border: 8px solid #e5bf0c; }
  #movies .genre-selector {
    width: 200px;
    display: inline-block;
    background-color: #000000;
    color: #ffffff;
    font-family: "Avenir Next", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    border: 1px solid #ffffff;
    border-radius: 10px;
    margin: 0 0 1rem 1rem;
    outline: 0; }

header {
  width: 100%;
  background-color: #300855;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  padding: 1rem 0; }
  header .header-section {
    display: flex;
    align-items: center; }
  header .header-section.row {
    display: block;
    text-align: center; }
  header .header-roku {
    width: 60%;
    max-width: 9rem;
    margin-left: 1rem; }
    header .header-roku svg {
      fill: #ffffff; }
  header .header-title {
    font-family: "Limelight", Arial, sans-serif;
    font-size: 4.5rem;
    text-shadow: 3px 3px 5px #000000;
    margin-bottom: 0.5rem; }
  header .header-subtitle {
    font-size: 1.2rem;
    font-weight: bolder;
    text-transform: uppercase; }
    header .header-subtitle:before, header .header-subtitle:after {
      content: " - "; }
  header nav {
    width: 100%; }
    header nav ul {
      display: flex;
      justify-content: flex-end; }
      header nav ul li {
        margin: 0 1rem; }
        header nav ul li a i {
          font-size: 2.5rem;
          color: #ffffff; }

footer {
  width: 100%;
  background-color: #300855;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
  padding: 2rem 0; }
  footer .footer-section {
    display: flex; }
  footer .footer-section.row {
    display: block;
    text-align: center; }
  footer .footer-roku {
    width: 40%;
    max-width: 6rem;
    margin-left: 1rem; }
    footer .footer-roku svg {
      fill: #ffffff; }
  footer .social {
    display: table;
    margin: 0 auto 2rem auto;
    border-spacing: 1.5rem 0; }
    footer .social li {
      display: table-cell;
      margin: 0 1rem;
      border: 2px solid #ffffff;
      border-radius: 100%;
      width: 2.5rem;
      height: 2.5rem;
      text-align: center;
      vertical-align: middle; }
      footer .social li a i {
        font-size: 1.5rem;
        color: #ffffff; }
  footer .footer-nav {
    margin-bottom: 2rem; }
    footer .footer-nav ul {
      display: flex;
      justify-content: center; }
      footer .footer-nav ul li {
        padding: 0 1rem;
        border-right: 1px solid #ffffff; }
        footer .footer-nav ul li a {
          font-family: 'Avenir Next Demi', Helvetica, Arial, sans-serif;
          font-size: 0.8rem;
          font-weight: 600;
          color: #ffffff;
          text-decoration: none;
          text-transform: uppercase; }
      footer .footer-nav ul li:last-child {
        border: none; }
  footer .copyright {
    font-size: 0.9rem; }
  footer .footer-title {
    display: block;
    width: 100%;
    text-align: right;
    font-family: "Limelight", Arial, sans-serif;
    font-size: 2.2rem;
    margin-right: 1rem; }

/*# sourceMappingURL=main.css.map */
