/*SCSS document*/

@import "reset";
@import "globals";
@import "mixins";

.hidden {
  display: none;
}

body {
  font-family: $fontText;
  font-size: 1.25rem;
  color: $textColor;
  background: $rokuPurple;
  background: linear-gradient(to bottom right, $rokuPurple, #000000);
  height: auto;
  min-height: 100vh;
}

#container {
  width: 100%;
  min-width: 320px;
  margin: 0 auto;

  &.login-cont {
    max-width: 1920px;
    height: 100vh;
    background-color: transparent;
  }

  &.index-cont,
  &.create-cont {
    max-width: 800px;
    background-color: rgba(255, 255, 255, 0.3);
    clear: both;
    padding-bottom: 100px;
    margin-bottom: 80px;
  }
}

header {
  // background: $bgBlue;
  // background: linear-gradient(to bottom right, $bgBlue, $bgGreen);
  background-color: transparent;
  overflow: hidden;
  padding: 30px 0 20px 0;

  .logout-button {
    float: right;
    margin-top: -8px;
    margin-right: 10px;
    font-size: 1rem;
    background-color: #dedede;
    color: #000000;
    padding: 8px 8px;
    border-radius: 4px;
    text-decoration: none;
  }

  nav {
    float: right;
    ul {
      display: flex;
      li {
        margin: 0 10px;
        a {
          font-size: 1rem;
          color: #ffffff;
          text-decoration: none;
          vertical-align: middle;
        }
      }
    }
  }
}

.error-message,
.edit-message {
  font-size: 1.1rem;
  color: #a60202;
  text-align: center;
  margin-top: 10px;
}

#form-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  max-width: 400px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  text-align: center;
  @include translate(-50%, -50%);

  .title {
    font-size: 2rem;
    color: #ffffff;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  // .error-message {
  //   font-size: 1.1rem;
  //   color: #a60202;
  // }

  form {
    margin: 40px 10px;
    text-align: center;

     label {
       display: block;
     }

     input {
       display: block;
       margin: 5px auto 30px auto;
       width: 80%;
       border-radius: 4px;
     }
     input.button {
       width: 30%;
       background-color: $bgBlue;
       border: none;
       border-radius: 10px;
       font-size: 1rem;
       color: #ffffff;
       padding: 4px 0;
     }

  }
}

.greetings {
  font-size: 2rem;
  text-align: center;
  padding-top: 20px;
}

.welcome-message {
  margin-top: 60px;
  margin-left: 3vw;
  span {
    font-weight: bold;
  }
}

.last-login {
  margin-top: 20px;
  margin-left: 3vw;
}

.back-index {
  display: block;
  text-align: center;
  font-size: 0.9rem;
  text-decoration: underline;
  text-transform: uppercase;
  color: #000000;
  // border-bottom: 1px solid #000000;
  margin-top: 2rem;
}

.functions {
  width: 80%;
  margin: 0 auto;
  border: 2px solid #ffffff;
  border-radius: 5px;
  margin-top: 40px;

  .title {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 20px;
    // margin-bottom: 20px;
  }
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    li {
      padding: 12px;
      border: 2px solid #ffffff;
      border-radius: 5px;
      text-align: center;
      a {
        font-size: 0.8rem;
        font-weight: bold;
        color: #ffffff;
        text-decoration: none;
        i {
          display: block;
          background-color: #ffffff;
          padding: 8px;
          border-radius: 5px;
          font-size: 4rem;
          color: #333333;
        }
      }
    }
  }
}

#create-form {
  width: 90%;
  max-width: 400px;
  margin: 50px auto 0 auto;
  border: 1px solid #000000;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;

  label {
    width: 80%;
    margin-bottom: 10px;
  }

  input {
    width: 80%;
    border: 1px solid #999999;
    border-radius: 5px;
    padding: 4px 0;
    margin-bottom: 25px;
  }

  div {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  select,
  input[type="submit"] {
    width: 45%;
    border: 1px solid #999999;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: bold;
    height: 32px;
    padding: 4px 6px;
  }
}

.created-message {
  font-size: 1.1rem;
  color: #064d06;
  text-align: center;
  margin-top: 20px;
}

#delete-list {
  width: 90%;
  max-width: 400px;
  margin: 50px auto 0 auto;
  border: 1px solid #000000;
  border-radius: 5px;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  padding: 20px 0;
  li {
    display: grid;
    grid-template-columns: 50% 50%;
    line-height: 40px;
    margin-left: 20%;
    p {
      // margin-right: 40px;
    }
    a {
      // text-decoration: none;
      color: #a72727;
      font-weight: bold;
      // border-bottom: 1px solid red;
    }
  }
}

.list-title {
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;
  margin: 20px 0;
}

.list-rows {
  margin: 20px 0;
  text-align: center;
  .list-new {
    display: inline-block;
    // margin: 0 auto;
    text-decoration: none;
    background-color: $bgBlue;
    padding: 5px 15px;
    color: #ffffff;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  ul {
    text-align: left;
    width: 70%;
    margin: 0 auto;
    border: 2px solid #ffffff;
    border-radius: 5px;
    padding: 10px;
    li {
      display: grid;
      grid-template-columns: 80% 10% 10%;
      margin: 5px 0;
      background-color: rgba(255, 255, 255, 0.1);

      .list-edit {
        // text-transform: uppercase;
        text-decoration: none;
        color: #cfbe2a;
      }
      .list-delete {
        // text-transform: uppercase;
        text-decoration: none;
        color: #a72727;
      }
    }
    li:nth-of-type(even) {
      background-color: transparent;
    }
  }
}

.edit-row {
  text-align: center;
  h1 {
    text-transform: capitalize;
    font-size: 32px;
    margin: 20px 0 30px 0;
  }

  img {
    width: 200px;
  }

  form {
    width: 70%;
    max-width: 500px;
    margin: 20px auto;
    border: 2px solid #ffffff;
    border-radius: 5px;
    padding: 20px 10px;

    label {
      text-transform: capitalize;
    }
    input {
      width: 60%;
    }
    input[type=submit] {
      width: 30%;
      background-color: $bgBlue;
      color: #ffffff;
      border: none;
      border-radius: 5px;
      text-transform: uppercase;
      font-weight: bold;
      padding: 5px 10px;
    }
    textarea {
      width: 60%;
      display: block;
      margin: 0 auto;
      margin-bottom: 20px;
    }
  }
}
